.page-header {
    background-color: #FF5733  ;
    margin-top: 0px;
    margin-bottom: -50px;
    padding: 50px 50px 60px 40px;
}

.page-header h1 {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
    text-align: center;
}

.page-header h1 a{
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.page-header h1 a:hover {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: underline;
}
 
  .content {
      margin-left: 40px;
  }
  
  h1, h2, h3, h4 {
  
    font-family: 'Exo', sans-serif;
  }

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
    margin-right: 70px;
    float: left;
    margin: 0 1.5%;
    width: 45%;
}

.post img {
    max-height: 300px;
    max-width: 300px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}


@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
body
{
    font-family: 'Lato', 'sans-serif';
    }
.profile 
{
    min-height: 355px;
    display: inline-block;
    }
figcaption.ratings
{
    margin-top:20px;
    }
figcaption.ratings a
{
    color:#f1c40f;
    font-size:11px;
    }
figcaption.ratings a:hover
{
    color:#f39c12;
    text-decoration:none;
    }
.divider 
{
    border-top:1px solid rgba(0,0,0,0.1);
    }
.emphasis 
{
    border-top: 4px solid transparent;
    }
.emphasis:hover 
{
    border-top: 4px solid #1abc9c;
    }
.emphasis h2
{
    margin-bottom:0;
    }
span.tags 
{
    background: #1abc9c;
    border-radius: 2px;
    color: #f5f5f5;
    font-weight: bold;
    padding: 2px 4px;
    }
.dropdown-menu 
{
    background-color: #34495e;    
    box-shadow: none;
    -webkit-box-shadow: none;
    width: 250px;
    margin-left: -125px;
    left: 50%;
    }
.dropdown-menu .divider 
{
    background:none;    
    }
.dropdown-menu>li>a
{
    color:#f5f5f5;
    }
.dropup .dropdown-menu 
{
    margin-bottom:10px;
    }
.dropup .dropdown-menu:before 
{
    content: "";
    border-top: 10px solid #34495e;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
    z-index: 10;
    }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FF5733;
}

li {
    float: center;
}

li a {
    display: block;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;

}

li a:hover {
    background-color: #FF5733;
}